* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  z-index: auto;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  display: block;
  text-align: center;
  position: relative;
}
.navbar {
  display: flex;
  position: sticky;
  justify-content: center;
  background: #212529;
}

.menu-items {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  color: white;
}

ul li {
  list-style: none;
  display: inline;
  align-items: left;
}
ul li a {
  text-decoration: none;
}

.button {
  background: linear-gradient(154deg, #505add 0%, #df42b1 100%);
  margin: 0 0 0 48px;
  padding: 0 25px;
  border-radius: 23px;
}

.button a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px; /* 328.571% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.welcome-text-area {
  display: flex;
  justify-content: right;
}
.welcome-text-area .text {
  text-align: right;
}
